img {
  width: 90%;
  max-width: 350px;
}

.logo {
  z-index: 3;
}
.cardInfo {
  /*  width: 250px; */
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cardInfo img {
  width: 200px;
  border-radius: 15px;
}

.cardInfo h1 {
  font-size: 25px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  height: 400px;
}

.gryffindor {
  background-color: red;
}
.slytherin {
  background-color: green;
}
.hufflepuff {
  background-color: yellow;
}
.ravenclaw {
  background-color: blue;
}
